< ion-header  [translúcido] = " true " >
  < ion-toolbar  color = " pink " >
    < ion-title >
      Drinks
    </ ion-title >
  </ ion-toolbar >
</ ion-header >

< ion-content  [fullscreen] = " true "   color = " light " >

  < ion-grid  class = " ion-text-center ion-no ion-no-padding " >

    < ion-row   class = " ion-no-padding " >

      < ion-col   class = " ion-no-padding " >
        < cartão iônico >
          < img  src = " https://img.irroba.com.br/fit-in/600x600/filters:fill(fff):quality(95)/bebfesta/catalog/produtos/teste/descricao-coca-cola.20200408081341.jpg " alt = " coca-cola " >
          < ion-item  lines = " none " class = " ion-no-padding " >
            < etiqueta de íon >
              Coca-Cola 
            </ ion-label >
          </ item-íon >

          < ion-item  lines = " none " >
            < ion-badge  color = " dark " > 400ml </ ion-badge >
            < ion-note  slot = " end " color = " dark " > R$ < span > 04,50 </ span > </ ion-note >
          </ item-íon >
       
        </ cartão de íons >
        
      </ ion-col >
